/* Catppuccin Mocha */

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 16px;
}

window {
  margin: 0px;
  padding: 8px;
  border: 2px solid #cba6f7;
  border-radius: 0;
  background-color: #1e1e2e;
}

#inner-box {
  margin: 4px;
  padding: 8px;
  border: none;
  background-color: #1e1e2e;
}

#outer-box {
  margin: 4px;
  padding: 8px;
  border: none;
  background-color: #1e1e2e;
}

#scroll {
  margin: 0px;
  padding: 8px;
  border: none;
  background-color: #1e1e2e;
}

#input {
  margin: 4px 16px;
  padding: 8px;
  border: none;
  border-radius: 0;
  color: #cdd6f4;
  background-color: #313244;
}

#input image {
  border: none;
  color: #cba6f7;
}

#input * {
  outline: 2px solid #cba6f7 !important;
}

#text {
  margin: 4px;
  border: none;
  color: #cdd6f4;
}

#entry {
  background-color: #1e1e2e;
}

#entry arrow {
  border: none;
  color: #cba6f7;
}

#entry:selected {
  border: 1px solid #cba6f7;
  background-color: #313244;
}

#entry:selected #text {
  color: #cba6f7;
}

#entry:drop(active) {
  background-color: #585b70 !important;
}
