/* Gruvbox Dark */

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 16px;
}

window {
  margin: 0px;
  padding: 8px;
  border: 2px solid #83a598;
  border-radius: 0;
  background-color: #282828;
}

#inner-box {
  margin: 4px;
  padding: 8px;
  border: none;
  background-color: #282828;
}

#outer-box {
  margin: 4px;
  padding: 8px;
  border: none;
  background-color: #282828;
}

#scroll {
  margin: 0px;
  padding: 8px;
  border: none;
  background-color: #282828;
}

#input {
  margin: 4px 16px;
  padding: 8px;
  border: none;
  border-radius: 0;
  color: #ebdbb2;
  background-color: #3c3836;
}

#input image {
  border: none;
  color: #83a598;
}

#input * {
  outline: 2px solid #83a598 !important;
}

#text {
  margin: 4px;
  border: none;
  color: #ebdbb2;
}

#entry {
  background-color: #282828;
}

#entry arrow {
  border: none;
  color: #83a598;
}

#entry:selected {
  border: 1px solid #83a598;
  background-color: #3c3836;
}

#entry:selected #text {
  color: #fabd2f;
}

#entry:drop(active) {
  background-color: #504945 !important;
}
